{{ form_start(form) }}
<div class="instructions">
        <p><strong>Étape 1 :</strong>Ajouter une image en cliquant sur le bouton "Add Image".</p>
        <p><strong>Étape 2 :</strong>Remplissez le titre de votre publication. </p>
    </div>
    {{ form_widget(form) }}
    <div class="post-button ">
        <button class="btn save-btn" arial-label="save post">{{ button_label|default('Save') }}</button>
        
    </div>
{{ form_end(form) }}
<div class="post-button">
    {# <a href="{{ path('app_post_index') }}" class="btn backlist-btn" aria-label="cancel">{{ button_label|default('Cancel') }}</a> #}
</div>
<div id="image-preview"></div>

