{# templates/post/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <p>{{ post.content }}</p>

    {% if post.photoFilename %}
        <img src="{{ asset('uploads/photos/' ~ post.photoFilename) }}" alt="{{ post.title }}">
    {% endif %}

    <a href="{{ path('app_post_index') }}">Back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}