{% extends 'base.html.twig' %}

{% block title %}Image Gallery{% endblock %}

{% block body %}
    <h1>Image Gallery</h1>

    <div class="gallery">
        {% for filename in imageFiles %}
            <div class="gallery-item">
                <a href="{{ asset('uploads/images/' ~ filename) }}" data-lightbox="image-{{ loop.index }}">
                    <img src="{{ asset('uploads/images/' ~ filename) }}" alt="{{ filename }}" class="gallery-image">
                </a>
                <div class="gallery-overlay">
                    <div class="gallery-text">
                        <p>{{ filename }}</p>
                        <a href="{{ path('app_image_edit', {'id': loop.index}) }}">Edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="no-records">No records found</div>
        {% endfor %}
    </div>

    <a href="{{ path('app_image_new') }}" class="create-new-link">Create new</a>
{% endblock %}
