{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
<main>
    <h1>Image</h1>

    <div class="post-image">
                {% if image.id %}            
                        <img src="{{ asset(image.path) }}" alt="{{ image.title }}">                
                {% endif %}
            </div>

    <a href="{{ path('app_image_index') }}">back to list</a>

    <a href="{{ path('app_image_edit', {'id': image.id}) }}">edit</a>

    {{ include('image/_delete_form.html.twig') }}
</main>
{% endblock %}
