{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<header>
        <div class="header_image">
            <nav class="top-bar navbar navbar-expand-lg">
                <div class="top-bar_item container-fluid">
                    <div class="logo-gallery navbar-brand">
                        <a href="{{ path('app_post_index') }}" aria-label="home">
                            <svg  title="Accueil" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 6.5C23 3.46243 25.4624 1 28.5 1H39.5C42.5376 1 45 3.46243 45 6.5V17.5C45 20.5376 42.5376 23 39.5 23H34C27.9249 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                                <path d="M23 6.5C23 3.46243 20.5376 1 17.5 1H6.5C3.46243 1 1 3.46243 1 6.5V17.5C1 20.5376 3.46243 23 6.5 23H12C18.0751 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                                <path d="M23 39.5C23 42.5376 20.5376 45 17.5 45H6.5C3.46243 45 1 42.5376 1 39.5V28.5C1 25.4624 3.46243 23 6.5 23H12C18.0751 23 23 27.9249 23 34V39.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                                <path d="M23 23H34C40.0751 23 45 27.9249 45 34V44.615C45 44.8276 44.8276 45 44.615 45H34C27.9249 45 23 40.0751 23 34V23Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                            </svg>
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavMenu" aria-controls="topNavMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse top-bar_menu" id="topNavMenu">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link button-global" href="{{ path('app_contact_new') }}">Contact</a></li>
                            <li class="nav-item"><a class="nav-link button-global login-btn" href="{{ path('app_login') }}">Connexion</a></li>
                        </ul>       
                    </div>
                </div>
            </nav>
            
            <div class="text-header">
                <div>
                    <svg class="post-logo" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 6.5C23 3.46243 25.4624 1 28.5 1H39.5C42.5376 1 45 3.46243 45 6.5V17.5C45 20.5376 42.5376 23 39.5 23H34C27.9249 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                        <path d="M23 6.5C23 3.46243 20.5376 1 17.5 1H6.5C3.46243 1 1 3.46243 1 6.5V17.5C1 20.5376 3.46243 23 6.5 23H12C18.0751 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                        <path d="M23 39.5C23 42.5376 20.5376 45 17.5 45H6.5C3.46243 45 1 42.5376 1 39.5V28.5C1 25.4624 3.46243 23 6.5 23H12C18.0751 23 23 27.9249 23 34V39.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                        <path d="M23 23H34C40.0751 23 45 27.9249 45 34V44.615C45 44.8276 44.8276 45 44.615 45H34C27.9249 45 23 40.0751 23 34V23Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
                    </svg>
                </div>
                <h1 class="post-h1">Inscription</h1>
            </div>
        </div>
</header>
	<main>

	
<div class="form-wrapper">
    <h2>Rejoignez-nous!</h2>

    
</div>

		{{ form_start(registrationForm, { 'attr': { 'class': 'register-form' } }) }}

        <div class="form-group">
            {{ form_label(registrationForm.username) }}
            {{ form_widget(registrationForm.username, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(registrationForm.username) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        {# <div class="form-group">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div> #}

        <div class="form-group mb-3">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {
            'attr': {
                'class': 'form-control',
                'name': 'registration_form[plainPassword]'
            }
        }) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

        <div class="form-group">
            {{ form_label(registrationForm.bio) }}
            {{ form_widget(registrationForm.bio, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(registrationForm.bio) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.location) }}
            {{ form_widget(registrationForm.location, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(registrationForm.location) }}
        </div>

        <div class="form-group form-check">
            {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'form-check-input' } }) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn-submit">
                {{ button_label|default("S'inscrire") }}
            </button>
        </div>

    {{ form_end(registrationForm) }}
	
	</main>

{% endblock %}
