{% extends 'base.html.twig' %}

{% block title %}
    User Posts - {{ user.username }}
{% endblock %}

{% block body %}
    <h1>{{ user.username }}'s Posts</h1>

    <div class="posts-list">
        {% for post in posts %}
        <div class="container-card gapper">
            <div class="card-author">
                <div class="author">
                    <h2><a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                    <img class="underline" src=""/>
                </div>
                {% if post.idImg %}
                    <div class="preview-img">
                        <img src="{{ asset(post.idImg.path) }}" alt="{{ post.title }}">
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
