{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if app.user == user %}
        <main class="user-profile-page">
            <h1>{{ user.username }}'s Profile</h1>

            <div>
                <p>Email: {{ user.email }}</p>
                <p>Username: {{ user.username }}</p>
            </div>

            <h1>{{ user.username }}'s Posts</h1>

            <div class="posts-list">
                {% for post in posts %}
                <div class="container-card gapper">
                    <div class="card-author">
                        <div class="author">
                            <h2><a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                            <img class="underline" src=""/>
                        </div>
                        {% if post.idImg %}
                            <div class="preview-img">
                                <img src="{{ asset(post.idImg.path) }}" alt="{{ post.title }}">
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        <a href="{{ path('app_user_index', {'id': user.id}) }}">back to list</a>

        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
