<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=5">
		<title>
			{% block title %}The Gallery
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		
		{# <link rel="stylesheet" href="{{ asset('styles/app.css') }}">  #}
		{# <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<script src="{{ asset('app.js') }}" defer></script> #}
	
	
		{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		{% endblock %}

		
	</head>
	<body>
		{% block body %}
		<header>
			
				<div class="header_image">
				
					<nav class="top-bar">

						<div class="top-bar_item">
							<div class="logo">
								<a href="{{ path('app_post_index') }}" aria-label="home">
									<svg width="46" height="46" viewbox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M23 6.5C23 3.46243 25.4624 1 28.5 1H39.5C42.5376 1 45 3.46243 45 6.5V17.5C45 20.5376 42.5376 23 39.5 23H34C27.9249 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
										<path d="M23 6.5C23 3.46243 20.5376 1 17.5 1H6.5C3.46243 1 1 3.46243 1 6.5V17.5C1 20.5376 3.46243 23 6.5 23H12C18.0751 23 23 18.0751 23 12V6.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
										<path d="M23 39.5C23 42.5376 20.5376 45 17.5 45H6.5C3.46243 45 1 42.5376 1 39.5V28.5C1 25.4624 3.46243 23 6.5 23H12C18.0751 23 23 27.9249 23 34V39.5Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
										<path d="M23 23H34C40.0751 23 45 27.9249 45 34V44.615C45 44.8276 44.8276 45 44.615 45H34C27.9249 45 23 40.0751 23 34V23Z" fill="#A5380A" stroke="#08A524" stroke-width="1.61"/>
									</svg>
								</a>
							</div>
							<a href="{{ path('app_contact_new')}}" class="button-global button" aria-label="contact">Contact</a>
							<a href="{{ path('app_register') }}" class="register-btn button" aria-label="registration">Register</a>
							<a href="{{ path('app_login') }}" class="login-btn button" aria-label="login">Login</a>
						</div>

					</nav>
					</div>
				
			
		</header>
		{% endblock %}
		{# <footer class="footer">
			<p class="footer_copyright">&copy; 2025 - TheGallery</p>
		</footer> #}
		<footer class="footer d-flex flex-column align-items-center justify-content-center mt-5 p-4">
			<div class="container d-flex justify-content-between flex-wrap footer-content">

				<div class="footer-left">
					<p><strong>TheGallery</strong></p>
					<p>123 rue des Feuilles, 75000 AutomneVille</p>
					<p><a href="mailto:contact@thegallery.com">contact@thegallery.com</a></p>
				</div>

				<div class="footer-right_container">
					<div class="footer-right_list">
						<ul class="list-unstyled">
							<li><a href="{{ path('app_terms') }}">Conditions d'utilisation</a></li>
							<li><a href="{{ path('app_cookies') }}">Politique de cookies</a></li>
							<li><a href="{{ path('app_privacy') }}">Politique de confidentialité</a></li>
							<li><a href="{{ path('app_legal') }}">Mentions légales</a></li>
							
						</ul>
					</div>
					<div class="mt-3 footer-right_bottom">
						<div class="footer-right_icon">
							<a href="https://www.artstation.com" target="_blank" aria-label="ArtStation">
								<svg class="artstation-icon" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img">
									<title>ArtStation</title>
									<path d="M1.5 17.376l2.642 4.588a1.56 1.56 0 0 0 1.354.76h12.182l-3.284-5.677H1.5Zm21-1.424-6.636-11.464a1.557 1.557 0 0 0-1.354-.76h-5.013l9.655 16.7 2.933-5.076a1.57 1.57 0 0 0 .414-.762Zm-10.81-2.374-5.495-9.497L1.97 13.578h10.72Z" fill="currentColor"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>

			
			<p class="footer_copyright mt-3">&copy; 2025 - TheGallery</p>
		</footer>

	
	<div id="cookie-banner" class="cookie-banner">
		<p>
			Nous utilisons des cookies pour améliorer votre expérience. 
			<a href="{{ path('app_cookies') }}" target="_blank" aria-label="Lire la politique de confidentialité">En savoir plus</a>
			<button id="accept-cookies" class="btn-accept">J'accepte</button>
		</p>
	</div>
	</body>
</html>
