{% extends 'base.html.twig' %}

{% block title %}Admin Display
{% endblock %}

{% block body %}
	{% if 'ROLE_ADMIN' in app.user.roles %}
		<a href="{{ path('admin_display') }}" class="btn btn-warning">Admin Panel</a>
	{% endif %}

	<div class="container mt-5">
		<h1>Welcome to the Admin Dashboard</h1>
		<p>Hello,
			{{ app.user.username }}! You have admin privileges.</p>
	</div>
	
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
                    <th>Email</th>
                    <th>Bio</th>                    
                    <th>Username</th>
					<th>ProfilePicture</th>
					<th>Actions</th>				
				</tr>
				{% for user in users %}
				<tr>
					
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
					<td>{{ user.bio }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.profilePic }}</td>
					<td>
						<div class="delete-post">
								{{ include('user/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
{% endblock %}
